![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> LESSON 6: Practice with PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [3]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [10]:
chipo.iloc[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [12]:
chipo.shape

(4622, 5)

### Step 7. Print the name of all the columns.

In [13]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [14]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [15]:
chipo.groupby('item_name')['quantity'].sum().nlargest(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [16]:
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending= False).values[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [17]:
chipo.groupby('choice_description').quantity.sum().nlargest(1).index[0]

'[Diet Coke]'

### Step 12. How many items were ordered in total?

In [18]:
chipo.item_name.nunique()

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [19]:
type(chipo['item_price'].iloc[0])

str

In [5]:
chipo.isnull().sum()*100/len(chipo)

order_id               0.000000
quantity               0.000000
item_name              0.000000
choice_description    26.958027
item_price             0.000000
dtype: float64

#### Step 13.b. Create a lambda function and change the type of item price

In [20]:
def convert_type(x):
    return float(x.strip("$"))

In [21]:
chipo['item_price_float'] = chipo['item_price'].apply(convert_type)

In [22]:
conver_type2 = lambda x: float(x.strip("$"))

In [23]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   item_price_float    4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [24]:
chipo['item_price_float'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [25]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [26]:
chipo.groupby('order_id')['item_price_float'].mean()

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price_float, Length: 1834, dtype: float64

### Step 17. How many different items are sold?

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [27]:
chipo['price_per_item'] = chipo['item_price_float']/chipo['quantity']
#chipo['price_per_item'] = x/y for x,y in list(zip(chipo['item_price_float']/chipo['quantity']))
chipo[chipo['price_per_item'] > 10]

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
...,...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [28]:
chipo[['item_name', 'price_per_item']].drop_duplicates()

                                  item_name  price_per_item
0              Chips and Fresh Tomato Salsa            2.39
1                                      Izze            3.39
2                          Nantucket Nectar            3.39
3     Chips and Tomatillo-Green Chili Salsa            2.39
4                              Chicken Bowl            8.49
...                                     ...             ...
3989                          Chicken Salad            8.19
4235                           Chicken Bowl            8.50
4237                    Chips and Guacamole            4.25
4509                                  Chips            1.99
4510                          Barbacoa Bowl           11.49

[139 rows x 2 columns]

### Step 20. Sort by the name of the item

In [29]:
chipo.sort_values('item_name', ascending=True)
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

### Step 21. What was the quantity of the most expensive item ordered?

In [34]:
chipo[chipo['price_per_item'] == chipo['price_per_item'].max()].groupby('item_name')['quantity'].sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [119]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']['order_id'].nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?

In [137]:
condition = (chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)
q7 = chipo[condition]
q7

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
909,376,2,Canned Soda,[Mountain Dew],$2.18,2.18,1.09
3592,1440,2,Canned Soda,[Diet Coke],$2.18,2.18,1.09
1091,450,2,Canned Soda,[Dr. Pepper],$2.18,2.18,1.09
3866,1550,2,Canned Soda,[Mountain Dew],$2.18,2.18,1.09
698,287,2,Canned Soda,[Coca Cola],$2.18,2.18,1.09
700,288,2,Canned Soda,[Coca Cola],$2.18,2.18,1.09
2905,1156,2,Canned Soda,[Coca Cola],$2.18,2.18,1.09
352,151,2,Canned Soda,[Coca Cola],$2.18,2.18,1.09
3364,1349,2,Canned Soda,[Coca Cola],$2.18,2.18,1.09
1944,787,2,Canned Soda,[Dr. Pepper],$2.18,2.18,1.09
1092,450,2,Canned Soda,[Coca Cola],$2.18,2.18,1.09
350,150,2,Canned Soda,[Diet Coke],$2.18,2.18,1.09
2235,901,4,Canned Soda,[Sprite],$4.36,4.36,1.09
2906,1156,2,Canned Soda,[Sprite],$2.18,2.18,1.09
51,23,2,Canned Soda,[Mountain Dew],$2.18,2.18,1.09
171,76,2,Canned Soda,[Diet Dr. Pepper],$2.18,2.18,1.09
3152,1258,2,Canned Soda,[Dr. Pepper],$2.18,2.18,1.09
162,73,2,Canned Soda,[Diet Coke],$2.18,2.18,1.09
2135,859,2,Canned Soda,[Diet Coke],$2.18,2.18,1.09
18,9,2,Canned Soda,[Sprite],$2.18,2.18,1.09

In [140]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].nunique()

order_id              18
quantity               2
item_name              1
choice_description     6
item_price             2
item_price_float       2
price_per_item         1
dtype: int64

## III. Statistics & Data Engineering

In [93]:
chipo.drop_duplicates(subset = 'item_name', keep = 'first')

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49
6,3,1,Side of Chips,NaN,$1.69,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25,9.25
10,5,1,Chips and Guacamole,NaN,$4.45,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75,8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49,8.49
18,9,2,Canned Soda,[Sprite],$2.18,2.18,1.09
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99,8.99
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99,8.99,8.99
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99,8.99
34,17,1,Bottled Water,NaN,$1.09,1.09,1.09
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95,2.95,2.95
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
40,19,1,Chips,NaN,$2.15,2.15,2.15
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.99,8.99,8.99
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$9.25,9.25,9.25
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",$9.25,9.25,9.25
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,$2.95,2.95,2.95
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75,11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,$2.39,2.39,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,$2.95,2.95,2.95
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.25,9.25,9.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98,10.98,10.98
263,114,1,Canned Soft Drink,[Coke],$1.25,1.25,1.25
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78,11.89
298,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49,6.49
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,$2.39,2.39,2.39
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20,7.40
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40,7.40,7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],$7.40,7.40,7.40
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],$9.25,9.25,9.25
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99,8.99
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,$3.00,3.00,3.00
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",$7.40,7.40,7.40
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99,8.99,8.99

**Reference**: Check out [Chipotle Exercises Video Tutorial](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) to watch a data scientist go through the exercises!